*{
	margin: 0;
	padding: 0;
}
ul, ol {
	list-style: none;
}
body {
	background: #e5e5e5;
	color: white;
	font-family: 'Tinos', serif;
}
embed {

	height: 550px;
	width: 90%;
	max-width: 1000px;


}
.contenedor{
	width: 90%;
	max-width: 1000px;
	margin: 10px auto;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, auto);
	grid-template-areas: "header header nav"						  
						 "contenido contenido sidebar"	
						 "widget-1 widget-2 widget-3"
						 "footer footer footer";
}

.contenedor > div,
.contenedor .header,
.contenedor .nav,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
	background: black;
	padding: 20px;
	border-radius: 10px;
}

.contenedor .header {
	background: white;
	color: black;
	grid-area: header;
}
.imagen{
	width: 90%;
	max-width: 1000px;
	margin-top: 50px auto;
 	margin: 0px auto;
}
.center{
	margin-left: auto;
    margin-right: auto;
    display: block
}

.nav {

	text-align: center;
	display: flex;
	flex-direction: row;
	flex-grow: wrap;
	justify-content: space-around;
	align-items: flex-start;
	grid-area: nav;
}
.nav > li{
	float: left;
}
.nav li a{
	background-color: black;
	color: white;
	text-decoration: none;
	padding: 10px 15px;
	display: block;
}

.nav li a: hover{
background: red;
}

.nav li ul{
	display: none;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	min-width: 140px;
}
.nav li:hover > ul {
display: block;
}

.nav li ul li{
	position: relative;
}

.nav li ul li ul{
	right: 10px;
}

.contenedor .contenido {
	grid-area: contenido;
}

.contenedor .sidebar {
	grid-column: 3 / 4;
	background: #fca311;
}

.contenedor .widget-1,
.contenedor .widget-2,
.contenedor .widget-3

 {
	background: #14213d;
	color: white;
	height: 150px;
	text-align: center;
}

.contenedor .widget-1{
	grid-area: widget-1;
}

.contenedor .widget-2{
	grid-area: widget-2;
}
.contenedor .widget-3{
	grid-area: widget-3;
}

.contenedor .footer {
	background: black;
	color: white;
	grid-area: footer;

}

@media screen and (max-width: 768px){
	.contenedor{
	grid-gap: 5px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, auto);
	grid-template-areas: "header header nav"
					  	 "contenido contenido contenido"
						 "sidebar sidebar sidebar"
						 "widget-1 widget-1 widget-1"
						 "widget-2 widget-2 widget-2"
						 "widget-3 widget-3 widget-3"
						 "footer footer footer";	
	}
.contenedor .sidebar {
	align-items: flex-start;
	margin-top: 50px auto;
 	margin: 0px auto;
}
}